@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon/fonts/icomoon.eot');
  src:  url('../icons/icomoon/fonts/icomoon.eot?v87ezz#iefix') format('embedded-opentype'),
    url('../icons/icomoon/fonts/icomoon.ttf?v87ezz') format('truetype'),
    url('../icons/icomoon/fonts/icomoon.woff?v87ezz') format('woff'),
    url('../icons/icomoon/fonts/icomoon.svg?v87ezz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e919";
}
.icon-reload:before {
  content: "\e917";
}
.icon-lock:before {
  content: "\e918";
}
.icon-up:before {
  content: "\e914";
}
.icon-down:before {
  content: "\e915";
}
.icon-upload:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e912";
}
.icon-calender:before {
  content: "\e913";
}
.icon-arrow-b:before {
  content: "\e90f";
}
.icon-arrow-l:before {
  content: "\e910";
}
.icon-arrow-r:before {
  content: "\e911";
}
.icon-eye:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e90d";
}
.icon-eye-slash:before {
  content: "\e90e";
}
.icon-icon12:before {
  content: "\e901";
}
.icon-icon11:before {
  content: "\e902";
}
.icon-icon10:before {
  content: "\e903";
}
.icon-icon09:before {
  content: "\e904";
}
.icon-icon08:before {
  content: "\e905";
}
.icon-icon07:before {
  content: "\e906";
}
.icon-icon06:before {
  content: "\e907";
}
.icon-icon05:before {
  content: "\e908";
}
.icon-icon04:before {
  content: "\e909";
}
.icon-icon03:before {
  content: "\e90a";
}
.icon-icon02:before {
  content: "\e90b";
}
.icon-icon01:before {
  content: "\e90c";
}
