/* Editable */

#preloader {
	background-color: #fff;
	padding: 0;
	margin: 0;
	height: 100%;
	position: fixed;
	z-index: 99999;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	
	img {
    animation: scale 5s infinite;
    max-width: 200px;
  }
	
}
@keyframes scale {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}