// Single side border-radius

@mixin border-radius($radius: $border-radius) {
	@if $enable-rounded {
		border-radius: $radius;
	}
}

@mixin border-top-radius($radius) {
	@if $enable-rounded {
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	}
}

@mixin border-right-radius($radius) {
	@if $enable-rounded {
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	}
}

@mixin border-bottom-radius($radius) {
	@if $enable-rounded {
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: $radius;
	}
}

@mixin border-left-radius($radius) {
	@if $enable-rounded {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}
}

// Basic Input
.form-label {
	margin-bottom: 0.25rem!important;
}
.form-control {
	background: $white;
	border: 1px solid $border;
	padding: 0.3125rem 1.25rem;
	color: #1D2129 !important;
	height: 40px;
	border-radius: 6px;
	line-height: 30px;
	font-size: 14px;
	&::placeholder{
		color: #86909C;
	}
	.current {
		width: 100%;
		display: inline-block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	&:hover,
	&:focus,
	&.active {
		box-shadow: none;
		background: $white;
		color: $dark;
	}
	&:focus {
		border-color: var(--primary);
	}
}
textarea.form-control{
	height: auto;
}
.input-rounded {
	border-radius: 6.25rem;
}
.input-error {
	border-color: $red;
}

// Input Color
[data-theme-version="light"],
[data-theme-version="dark"] {
	.input-primary {
		.form-control {
			border-color: var(--primary);
		}
		.input-group-text {
			background-color: var(--primary);
			color: $white;
		}
	}
	.input-danger {
		.form-control {
			border-color: $danger;
		}
		.input-group-text {
			background-color: $danger;
			color: $white;
		}
	}
	.input-info {
		.form-control {
			border-color: $info;
		}
		.input-group-text {
			background-color: $info;
			color: $white;
		}
	}
	.input-success {
		.form-control {
			border-color: $success;
		}
		.input-group-text {
			background-color: $success;
			color: $white;
		}
	}
	.input-warning {
		.form-control {
			border-color: $warning;
		}
		.input-group-text {
			background-color: $warning;
			color: $white;
		}
	}
}
// Input Outline
[data-theme-version="light"],
[data-theme-version="dark"] {
	.input-primary-o {
		.form-control {
			border-color: var(--primary);
		}
		.input-group-text {
			background-color: transparent;
			border-color: var(--primary);
			color: var(--primary);
		}
	}
	.input-danger-o {
		.form-control {
			border-color: $danger;
		}
		.input-group-text {
			background-color: transparent;
			border-color: $danger;
			color: $danger;
		}
	}
	.input-info-o {
		.form-control {
			border-color: $info;
		}
		.input-group-text {
			background-color: transparent;
			border-color: $info;
			color: $info;
		}
	}
	.input-success-o {
		.form-control {
			border-color: $success;
		}
		.input-group-text {
			background-color: transparent;
			border-color: $success;
			color: $success;
		}
	}
	.input-warning-o {
		.form-control {
			border-color: $warning;
		}
		.input-group-text {
			background-color: transparent;
			border-color: $warning;
			color: $warning;
		}
	}
}

// Input Size/
// .form-control{
// min-height: 2.5rem;
// }
// .form-control-sm{
//     min-height: 2.25rem;
// }
// .form-control-lg{
//     min-height: 3.25rem;
// }

// Input Group
.input-group-text {
	background: var(--secondary); 
	border: 0.0625rem solid transparent;
	min-width: 3.125rem;
	display: flex;
	justify-content: center;
	// padding: 0.532rem 0.75rem;
	border-radius: 6px;
	i {
		font-size: 1rem;
	}
}
.form-pass {
	position: relative;
	.input-group-eye {
		// background: var(--primary);
		border: 0.0625rem solid transparent;
		min-width: 3.125rem;
		display: flex;
		justify-content: center;
		// padding: 0.532rem 0.75rem;
		position: absolute;
		right: 10px;
		top: 12px;
		border-radius: 6px;
		i {
			font-size: 20px;
			color: #86909C;
		}
	}
}

.form-file-label {
	height: 2.5rem;
	padding: 0.5rem 0.75rem;
}
.input-group-prepend .btn,
.input-group-append .btn {
	z-index: 0;
}
.custom-select {
	background: none;
	// height: 2.8125rem;
	border-color: $border;
	color: $dark;
	// border-radius: 0rem
	&:focus {
		box-shadow: none;
		border-color: var(--primary);
		color: var(--primary);
	}
}
.form-file-label {
	// height: 2.8125rem;
	// border-radius: 0rem
	background: #656c73;
	white-space: nowrap;
	color: $white;
	@at-root [data-theme-version="dark"] & {
		background: $d-border;
		border-color: $d-border;
		color: $body-color;
	}
}

.custom_file_input {
	.input-group-prepend,
	.input-group-append {
		// height: 2.8125rem;
	}

	.form-file-label::after {
		height: 100%;
		// line-height: 2.4;
	}
}

.form-control:disabled,
.form-control[readonly] {
	// background: $white;
	opacity: 1;
	&:hover {
		background-color: #e9ecef;
	}
}

.input-group {
	> .form-control-plaintext,
	> .form-select,
	> .form-file {
		position: relative; // For focus state's z-index
		flex: 1 1 auto;
		// Add width 1% and flex-basis auto to ensure that button will not wrap out
		// the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
		width: 1%;
		margin-bottom: 0;
	}
	& > .form-file {
		display: flex;
		align-items: center;

		&:not(:last-child) .form-file-label,
		&:not(:last-child) .form-file-label::after {
			@include border-right-radius(0);
		}
		&:not(:first-child) .form-file-label {
			@include border-left-radius(0);
		}
	}
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	border-radius: $radius;
	background-color: var(--secondary);
	color: #fff;
	border: none;
	padding: 5px 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #fff;
}
.quantity-block {
	border: solid 1px $border;
	border-radius: $radius;
	display: flex;
	width: 140px;
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
	.quantity-arrow-minus,
	.quantity-arrow-plus {
		cursor: pointer;
		font-size: 20px;
		padding: 5px 12px;
		width: 40px;
		box-sizing: border-box;
		border-radius: 4px;
		outline: none;
		box-shadow: none;
		color: #86909C
	}
	.quantity-num {
		padding: 5px 10px;
		border-radius: 4px;
		outline: none;
		width: 60px;
		border: none;
		text-align: center;
		&:hover,
		&:focus,
		&.active {
			box-shadow: none;
			background: $white;
			color: $dark;
		}
	}
}
.form-file {
	border: 1px dashed $border;
	background: $white;
	border-radius: $radius;
	label {
		text-align: center;
		padding: 20px;
		width: 100%;
		// display: flex;
		// justify-content: center;
		cursor: pointer;
	}
	input {
		display: none;
	}
}
.form-search {
	position: relative;
	svg {
		position: absolute;
		left: 10px;
		top: 9px;
	}
	input {
		padding-left: 40px;
	}
}
.custom-props {
	position: relative;
	.props {
		position: absolute;
		right: 10px;
		bottom: 10px;
		text-align: right;
	}
}
.list-form-img {
	display: flex;
	.img-item {
		width: 100px;
		border-radius: 8px;
		height: 100px;
		overflow: hidden;
		position: relative;
		margin-right: 10px;
		img {
			width: 100%;
			object-fit: cover;
		}
		.close {
			position: absolute;
			right: 10px;
			top: 10px;
			cursor: pointer;
		}
	}
	.form-img {
		border: 1px dashed #0054a6;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 8px 0;
		width: 100px;
		height: 100px;
		font-size: 12px;
		color: #0054a6;
		cursor: pointer;
		text-align: center;
		input {
			display: none;
		}
	}
}
.input-group {
	.btn-secondary {
		height: 40px;
		padding: 9px 12px;
	}
}
