.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: $radius;
    color: $dark;
    border: 1px solid $border;

    height: 40px;
    background: $white;
    @at-root [data-theme-version="dark"] & {
        background: $d-bg;
        border-color: $d-border;
    }

    &:hover,
    &:focus,
    &.active {
        box-shadow: none;
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    color: $body-color;
    padding-left: 0.9375rem;
    min-height: 40px;
}

.select2-container--default .select2-selection--multiple {
    border-color: $border;
    border-radius: 0;
}

.select2-dropdown {
    border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--primary);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: $border;
    background: $white;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    b {
        position: relative;
        border: none;
        &::after {
            border-bottom: 3px solid #eee;
            border-right: 3px solid #eee;
            content: "";
            display: block;
            height: 10px;
            pointer-events: none;
            position: absolute;
            right: -6px;
            top: -3px;
            margin-right: 10px;
            transform-origin: 66% 66%;
            transform: rotate(45deg);
            transition: all 0.15s ease-in-out;
            width: 10px;
        }
    }
}
.select2-container--open .select2-selection__arrow {
    b {
        &::after {
            transform: rotate(-135deg) !important;
        }
    }
}
.select2-container .select2-selection--multiple {
    min-height: 2.5rem;
    color: $body-color;
    border-radius: $radius;
    
    @at-root [data-theme-version="dark"] & {
        background: $d-bg;
        border-color: $d-border;
    }
}
.select2-search--dropdown .select2-search__field {
    @at-root [data-theme-version="dark"] & {
        background: $dark-card;
        border-color: $d-border;
    }
}
.select2-dropdown {
    border-color: $light;
    @at-root [data-theme-version="dark"] & {
        background: $d-bg;
        border-color: $d-border;
    }
}
.swal2-popup .swal2-content {
    color: $body-color;
}
