<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body ">
					<p class="fs-16 font-w600">Thông tin cửa hàng</p>
					<div class="row">
						<div class="col-md-3">
							<div class="mb-2"><label class="text-2">Mã cửa hàng</label>
								<p class="font-w600">Nguyễn Văn A-</p>
							</div>
						</div>
						<div class="col-md-9">
							<div class="mb-2"><label class="text-2">Tên cửa hàng</label>
								<p class="font-w600">---</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-2"><label class="text-2">Số điện thoại</label>
								<p class="font-w600">---</p>
							</div>
						</div>
						<div class="col-md-9">
							<div class="mb-2"><label class="text-2">Email</label>
								<p class="font-w600">---</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-2"><label class="text-2">Số lượng nhân viên</label>
								<p class="font-w600">---</p>
							</div>
						</div>
						<div class="col-md-9">
							<div class="mb-2"><label class="text-2">Thời gian sử dụng (1 năm)</label>
								<p class="font-w600">---</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="mb-2 ">
								<label class="text-2 d-flex justify-content-between">Địa chỉ lấy hàng
									<a href=" " class="text-secondary"  data-bs-toggle="modal" data-bs-target="#address">Chỉnh sửa</a>
								</label>
								<input type="text" class="form-control" disabled placeholder="Địa chỉ lấy hàng"
									value="66 Hàng Buồm, Hoàn Kiếm, Hà Nội">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body ">
					<p class="fs-16 font-w600">Thông tin cửa hàng</p>
					<div class="mb-3">
						<label class="text-2">Tài khoản thanh toán cước: 0đ</label>
						<div class="row">
							<div class="col-3s">
								<div class="payment-item">
									<img src="./images/profile/zalo.png" alt="">
									<div class="ms-3">
										<p class="mb-0">Zalo</p>
										<a href="" class="text-secondary font-w600">Nạp tiền nhanh</a>
									</div>
								</div>
							</div>
							<div class="col-3s">
								<div class="payment-item">
									<img src="./images/profile/momo.png" alt="">
									<div class="ms-3">
										<p class="mb-0">Momo</p>
										<a href="" class="text-secondary font-w600">Nạp tiền nhanh</a>
									</div>
								</div>
							</div>
							<div class="col-3s">
								<div class="payment-item">
									<img src="./images/profile/vnpay.png" alt="">
									<div class="ms-3">
										<p class="mb-0">VNPay</p>
										<a href="" class="text-secondary font-w600">Nạp tiền nhanh</a>
									</div>
								</div>
							</div>
							<div class="col-3s">
								<div class="payment-item">
									<img src="./images/profile/bidv.png" alt="">
									<div class="ms-3">
										<p class="mb-0">BIDV</p>
										<a href="" class="text-secondary font-w600">Nạp tiền nhanh</a>
									</div>
								</div>
							</div>
							<div class="col-3s">
								<div class="payment-item">
									<img src="./images/profile/bank.png" alt="">
									<div class="ms-3">
										<p class="mb-0">Tài khoản ngân hàng</p>
										<a href="" class="text-secondary font-w600">Nạp tiền nhanh</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body ">
					<p class="fs-16 font-w600">Thông tin cửa hàng</p>
					<div class="row">
						<div class="col-md-3">
							<label for="">Phương thức thanh toán:</label>
						</div>
						<div class="col-md-9">
							<div class="mb-3">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="1" name="gridRadios" value="1"
										checked="">
									<label class="form-check-label" for="1">
										Tài khoản ngân hàng
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="2" name="gridRadios" value="2"
										checked="">
									<label class="form-check-label " for="2">
										Tài khoản ngân hàng
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="3" name="gridRadios" value="3"
										checked="">
									<label class="form-check-label " for="3">
										Ví điện tử
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Họ tên</label>
										<input type="text" class="form-control" placeholder="Họ tên">
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Tên tài khoản ngân hàng</label>
										<input type="text" class="form-control" placeholder="Tên tài khoản ngân hàng">
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Chi nhánh</label>
										<input type="text" class="form-control" placeholder="Chi nhánh">
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Số tài khoản</label>
										<input type="text" class="form-control" placeholder="Số tài khoản">
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label class="form-label me-4">Ví điện tử:</label>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="wallet1" name="wallet" value="option1"
										checked="">
									<label class="form-check-label" for="wallet1">
										Momo
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="wallet2" name="wallet" value="option1"
										checked="">
									<label class="form-check-label " for="wallet2">
										ZaloPay
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label for="">Hình thức thanh toán:</label>
						</div>
						<div class="col-md-9">
							<div class="mb-3">
								<div class="form-check form-check-inline col-3">
									<input class="form-check-input" type="radio" id="methods1" name="methods" value="1"
										checked="">
									<label class="form-check-label" for="methods1">
										Cước trả trước
									</label>
								</div>
								<div class="form-check form-check-inline col-3">
									<input class="form-check-input" type="radio" id="methods2" name="methods" value="2"
										checked="">
									<label class="form-check-label " for="methods2">
										Cước trả sau
									</label>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label for="">Hình thức thu gom:</label>
						</div>
						<div class="col-md-9">
							<div class="mb-3 ">
								<div class="form-check form-check-inline col-3">
									<input class="form-check-input" type="radio" id="give1" name="give" value="1" checked="">
									<label class="form-check-label" for="give1">
										Thu gom tận nơi
									</label>
								</div>
								<div class="form-check form-check-inline col-3">
									<input class="form-check-input" type="radio" id="give2" name="give" value="2" checked="">
									<label class="form-check-label " for="give2">
										Gửi hàng tại bưu cục
									</label>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="card-footer d-sm-flex justify-content-end align-items-center">
					<button type="button" class="btn btn-outline-dark">Hủy bỏ</button>
					<button type="button" class="btn btn-primary">Xác nhận</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="address">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Đổi địa chỉ lấy hàng</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>
			<div class="modal-body">
				<form action="index.html">
					<div class="row">
						<div class="col-12">
							<div class="mb-3">
								<label class="form-label">Địa chỉ lấy hàng</label>
								<select multiple class="default-select form-control">
									<option selected>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="mb-3 mt-3">
								<label class="form-label">Họ và tên  </label>
								<input type="text" class="form-control" placeholder="Họ và tên ">
							</div>
							<div class="mb-3">
								<label class="form-label">Số điện thoại</label>
								<input type="text" class="form-control" placeholder="Số điện thoại">
							</div>
							<div class="mb-3">
								<label class="form-label">Tên địa chỉ</label>
								<input type="text" class="form-control" placeholder="Tên địa chỉ">
							</div>
							<div class="mb-3">
								<label class="form-label">Địa chỉ</label>
								<input type="text" class="form-control" placeholder="Địa chỉ">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark light" data-bs-dismiss="modal">Hủy bỏ</button>
				<button type="button" class="btn btn-primary">Xác nhận</button>
			</div>
		</div>
	</div>
</div>