<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="">
                <div class="form-search">
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M18.9842 17.6825L15.8675 14.575C16.8731 13.2939 17.4187 11.7119 17.4167 10.0833C17.4167 8.63294 16.9866 7.21512 16.1808 6.00916C15.375 4.80319 14.2297 3.86326 12.8897 3.30822C11.5497 2.75318 10.0752 2.60795 8.65268 2.89091C7.23015 3.17387 5.92347 3.8723 4.89789 4.89789C3.8723 5.92347 3.17387 7.23015 2.89091 8.65268C2.60795 10.0752 2.75318 11.5497 3.30822 12.8897C3.86326 14.2297 4.80319 15.375 6.00916 16.1808C7.21512 16.9866 8.63294 17.4167 10.0833 17.4167C11.7119 17.4187 13.2939 16.8731 14.575 15.8675L17.6825 18.9842C17.7677 19.0701 17.8691 19.1383 17.9808 19.1848C18.0925 19.2314 18.2123 19.2553 18.3333 19.2553C18.4543 19.2553 18.5742 19.2314 18.6859 19.1848C18.7976 19.1383 18.899 19.0701 18.9842 18.9842C19.0701 18.899 19.1383 18.7976 19.1848 18.6859C19.2314 18.5742 19.2553 18.4543 19.2553 18.3333C19.2553 18.2123 19.2314 18.0925 19.1848 17.9808C19.1383 17.8691 19.0701 17.7677 18.9842 17.6825V17.6825ZM4.58334 10.0833C4.58334 8.99554 4.90591 7.93217 5.51025 7.0277C6.1146 6.12323 6.97358 5.41828 7.97858 5.002C8.98357 4.58572 10.0894 4.4768 11.1563 4.68902C12.2232 4.90124 13.2032 5.42506 13.9724 6.19425C14.7416 6.96344 15.2654 7.94345 15.4777 9.01034C15.6899 10.0772 15.581 11.1831 15.1647 12.1881C14.7484 13.1931 14.0434 14.0521 13.139 14.6564C12.2345 15.2608 11.1711 15.5833 10.0833 15.5833C8.62465 15.5833 7.2257 15.0039 6.19425 13.9724C5.1628 12.941 4.58334 11.542 4.58334 10.0833Z"
                      fill="#86909C" />
                  </svg>
                  <input type="text" class="form-control " placeholder="Tìm theo thông tin khách hàng" required>
                </div>
              </div>
            </div>
            <div class="col-md-8 d-flex align-items-end justify-content-end">
              <div class="">
                <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newGroup">
                  <i class="fa fa-plus"></i>
                  Thêm nhóm nhân viên</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive table-primary">
            <table class="table table-responsive-md">
              <thead>
                <tr>
                  <th class="align-middle">
                    <div class="form-check custom-checkbox">
                      <input type="checkbox" class="form-check-input" id="checkAll">
                      <label class="form-check-label" for="checkAll"></label>
                    </div>
                  </th>
                  <th>Mã nhóm</th>
                  <th>Tên nhóm</th>
                  <th>Mô tả</th>
                  <th>Người tạo</th>
                  <th>Thời gian tạo</th>
                  <th class="text-center">Trạng thái</th>
                  <th class="text-center">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td class="py-2">
                    <div class="form-check custom-checkbox ">
                      <input type="checkbox" class="form-check-input" id="checkbox1">
                      <label class="form-check-label" for="checkbox1"></label>
                    </div>
                  </td>
                  <td>EG5355252</td>
                  <td>Bán hàng</td>
                  <td>Quản lý</td>
                  <td>Nguyễn Văn A</td>
                  <td>dd/mm/yyyy hh:mm</td>
                  <td class="text-center">
                    <a href=" " type="button" class="btn btn-lock light ">
                      <i class="icon-lock fs-18"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a href=" " type="button" class="btn btn-info light " data-bs-toggle="modal" data-bs-target="#newGroup">
                      <i class="icon-edit fs-18"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="py-2">
                    <div class="form-check custom-checkbox ">
                      <input type="checkbox" class="form-check-input" id="checkbox1">
                      <label class="form-check-label" for="checkbox1"></label>
                    </div>
                  </td>
                  <td>EG5355252</td>
                  <td>Bán hàng</td>
                  <td>Quản lý</td>
                  <td>Nguyễn Văn A</td>
                  <td>dd/mm/yyyy hh:mm</td>
                  <td class="text-center">
                    <a href=" " type="button" class="btn btn-locked light ">
                      <i class="icon-lock fs-18"></i>
                    </a>
                  </td>
                  <td class="text-center">
                    <a href=" " type="button" class="btn btn-info light " data-bs-toggle="modal" data-bs-target="#newGroup">
                      <i class="icon-edit fs-18"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newGroup">
  <div class="modal-dialog modal-medium modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm nhóm nhân viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        </button>
      </div>
      <div class="modal-body">
        <form action="index.html">
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Mã nhóm nhân viên
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" placeholder="Mã nhóm nhân viên">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Tên nhóm nhân viên
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" placeholder="Tên nhóm nhân viên">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Trạng thái <span class="text-danger">*</span></label>
                <select multiple class="default-select form-control">
                  <option selected>Trạng thái</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Mô tả</label>
                <textarea class="form-control" rows="4" id="comment" placeholder="Mô tả"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Nhân viên <span class="text-danger">*</span></label>
                <select multiple class="default-select form-control">
                  <option selected>Nhân viên</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark light" data-bs-dismiss="modal">Hủy bỏ</button>
        <button type="button" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>