<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-basis">
				<div class="card-left boder-left">
					<ul>
						<li>
							Shop Giang Bùi
						</li>
					</ul>
				</div>
				<div class="card-right">
					<div class="card-body">
						<p class="fs-16 font-w600">Shop Giang Bùi</p>
						<div class="row">
							<div class="col-md-6">
								<div class="mb-3">
									<label class="form-label">Mã trung tâm <span class="text-danger">*</span></label>
									<input type="text" class="form-control" disabled placeholder="Mã trung tâm" value="23ds4r44">
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-3">
									<label class="form-label">Tên trung tâm <span class="text-danger">*</span></label>
									<input type="text" class="form-control" placeholder="Tên trung tâm">
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-3">
									<label class="form-label">Số điện thoại </label>
									<input type="text" class="form-control" disabled placeholder=" Số điện thoại" value="0969877097">
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-3">
									<label class="form-label">Địa chỉ lấy hàng <span class="text-danger">*</span></label>
									<select multiple class="default-select form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="mb-3">
									<label class="form-label">Mô tả</label>
									<textarea class="form-control" rows="4" id="comment" placeholder="Mô tả"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer d-sm-flex justify-content-end align-items-center">
						<button type="button" class="btn btn-outline-dark">Hủy bỏ</button>
						<button type="button" class="btn btn-primary">Xác nhận</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>