.modal-header {
	padding: 1rem 1.875rem;

	.close {
		padding: 0.875rem 1.815rem;
		margin: 0;
		position: absolute;
		right: 0;
		float: none;
		top: 0;
		font-size: 1.875rem;
		font-weight: 100;
	}
}
.modal-body {
	padding: 1.875rem;
}
.modal-footer {
	padding: 1rem 1.875rem;
}
.modal-content {
	border-radius: $radius;
}
.modal-backdrop {
	z-index: 10 !important;
}
.modal-dialog {
	.modal-content {
		border: none;
	}
}
.modal-register {
	max-width: 800px;
	.modal-content {
		border-radius: $radius;
		padding: 20px;
	}
	.modal-header {
		border: none;
		img {
			width: 128px;
		}
	}
	.modal-footer {
		border: none;
		justify-content: center;
		.btn {
		}
	}
	.btn-close{
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
.modal-confirm {
	max-width: 600px;
}
.modal-medium {
	max-width: 960px;
}
.modal-title {
	font-size: 20px;
	font-weight: 600;
}
.modal {
	&-search {
		z-index: 1000;
		max-width: 1000px;
	}
}
