.pagination .page-item {
	.page-link {
		&:hover {
			background: var(--primary);
			border-color: var(--primary);
			color: $white;
		}
	}
	&.active .page-link {
		background: var(--primary);
		border-color: var(--primary);
		color: $white;
	}
}
.pagination {
	margin-bottom: 1.25rem;

	.page-item {
		&.page-indicator .page-link {
			padding: 0.65rem 0.8rem;
			font-size: 0.875rem;
		}

		&.page-indicator:hover {
			.page-link {
				color: $dark;
			}
		}

		.page-link {
			// height: 3.125rem;
			text-align: center;
			z-index: 1;
			padding: 0.55rem 1rem;
			font-size: 1rem;
			background: rgba(255, 255, 255, 0.15);
			color: $dark;
			// line-height: 2.375rem;
			// border: 0.0625rem solid $border;
			border: none;
			@at-root [data-theme-version="dark"] & {
				border-color: $d-border;
				color: $d-ctl;
				background: rgba(255, 255, 255, 0);
			}
			&:hover i,
			span {
				color: $white;
			}

			&:focus {
				outline: 0;
				box-shadow: none;
			}

			&:hover {
				background: var(--primary);
				color: $white;
				border-color: var(--primary);
			}
			i{
				font-size: 20px;
				line-height: 38px;
			}
		}

		&.active .page-link {
			background-color: var(--rgba-primary-1);
			// border-color: var(--primary);
			color:  var(--primary);
			@at-root [data-theme-version="dark"] & {
				color: $white;
			}
		}

		.page-link {
			// width: 4.0625rem;
			color: $dark;
			@include transitionMedium;
		}

		&:last-child .page-link {
			margin-right: 0;
		}

		&:first-child .page-link {
			@at-root [direction="rtl"] #{&} {
				margin-right: 0;
			}
		}
	}

	&-circle {
		.page-item {
			margin-right: 0.4375rem;

			.page-link,
			&.page-indicator .page-link {
				width: 2.5rem;
				height: 2.5rem;
				padding: 0;
				line-height: 2.5rem;
				border-radius: 50% !important;
				padding: 0;
			}
		}
	}
}
.pagination-select{
	padding: 5px 10px;
	margin: 0 10px;
	width: 80px;
	height: 36px;
	.current{
		line-height: 24px;
	}
}