.tooltip {
    &-wrapper {
        button:not(:last-child) {
            margin-right: 0.5rem;
        }

        button:hover {
            background: var(--primary);
            color: $white;
        }

        button {
            margin-bottom: 0.5rem;

            &:focus {
                box-shadow: none;
            }
        }
    }

    &-inner {
        border-radius: 0;
        background: #333333;
        font-size: 0.75rem;
        font-weight: 300;
        padding: 0.35rem 0.7rem;
    }
}
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    // border-width: 0 0.6rem 0.6rem;
    border-bottom-color: #333333;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #333333;
}

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #333333;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #333333;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #101012;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -100px;
    padding: 5px 10px;
    // margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptop {
    visibility: hidden;
    width: 240px;
    background-color: #101012;
    color: #fff;
    // text-align: center;
    border-radius: 6px;
    font-size: 12px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -50px;
    padding: 5px 10px;
    // margin-left: -60px;
}

.tooltip .tooltiptop::after {
    content: "";
    position: absolute;
    top: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    transform: rotate(-180deg);
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptop {
    visibility: visible;
}