.card {
  margin-bottom: 1.875rem;
  background-color: $white;
  transition: all 0.5s ease-in-out;
  position: relative;
  border: 0rem solid transparent;
  border-radius: $radius;
  // box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82,63,105,0.05);
  // height: calc(100% - 30px);

  // z-index: 0;

  &-body {
    padding: 12px 20px;
    @include respond("phone") {
      padding: 1rem;
    }
    .row {
      .col-md-2 {
        border-left: solid 1px $border;
        &:first-child {
          border: none;
        }
      }
    }
  }
  &-data {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 5px;
    // justify-content: space-between;
    h5 {
      flex: 1;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1D2129;
    // text-transform: capitalize;
    margin-bottom: 1.5rem;

    &--large {
      font-size: 1.5rem;
    }

    &--medium {
      font-size: 1rem;
    }

    &--small {
      font-size: 0.875rem;
    }
  }

  &-header {
    position: relative;
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    @include respond("phone") {
      padding: 1.25rem 1rem 1.25rem;
    }
    @at-root [data-theme-version="dark"] & {
      border-color: $d-border;
    }

    .card-title {
      margin-bottom: 0rem;
    }
    .subtitle {
      padding-top: 0.3125rem;
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }

  &-footer {
    border-color: $border;
    background: transparent;
    padding: 1.25rem 1.875rem 1.25rem;
    @at-root [data-theme-version="dark"] & {
      border-color: $d-border;
    }
  }
}

.transparent-card {
  &.card {
    background: transparent;
    border: 0.0625rem solid transparent;
    box-shadow: none;
  }
}
.card-action {
  > a {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    line-height: 1.875rem;
    border-radius: 0.3125rem;
    border-color: transparent;
    text-align: center;
    background: var(--primary-dark);
    color: $white;
    margin-right: 0.5rem;

    @at-root [data-theme-version="dark"] & {
      background: $d-bg;
    }

    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &:focus {
      background: var(--primary-dark);

      @at-root [data-theme-version="dark"] & {
        background: $d-bg;
      }
    }

    i,
    span {
      font-size: 1rem;
      // color: #333333;
    }
    // padding: 0 .5rem;
  }

  .dropdown {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 0.3125rem;
    border-color: transparent;
    text-align: center;
    margin-right: 0.5rem;
    top: -0.125rem;
    position: relative;
    display: inline-block;
    background: var(--primary-dark);
    color: var(--primary);

    @at-root [data-theme-version="dark"] & {
      background: $d-bg;
    }

    &:hover,
    &:focus {
      background: var(--primary-dark);

      @at-root [data-theme-version="dark"] & {
        background: $d-bg;
      }
    }

    .btn {
      padding: 0;
      line-height: 1.6875rem;
      color: $white;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
.card-basis {
  flex-direction: row;
  .card-left {
    border-right: 1px solid $border;
    padding: 12px 20px;
    width: 200px;
    ul {
      list-style: none;
    }
  }
  .card-right {
    flex: 1;
  }
}
