.DZ-theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: 8px 0px 0px 8px;
  bottom: 10px;
  color: #fff;
  height: 48px;
  right: 0;
  bottom: 10%;
  min-width: 48px;
  position: fixed;
  text-align: center;
  z-index: 99999;
  svg {
    fill: #fff;
    width: 26px;
    height: 26px;
  }
  span {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: -15px;
    opacity: 0;
    line-height: 22px;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 0.5s;
  }
  &:hover {
    color: #fff;
    padding: 0 20px;
    span {
      opacity: 1;
      letter-spacing: 0px;
      padding-left: 10px;
    }
  }
}
