.nav-pills {
	.nav-link {
		border-radius: $radius;
		padding: 0.75rem 1.25rem;
	}
}

.default-tab {
	.nav-link {
		background: transparent;
		border-radius: 0rem;
		font-weight: 500;
		i {
			display: inline-block;
			transform: scale(1.5);
			color: var(--primary);
		}

		&:focus,
		&:hover,
		&.active {
			color: #495057;
			background-color: #fff;
			border-color: #dee2e6 #dee2e6 #fff #ebeef6;
			border-radius: $radius $radius 0 0;
			color: var(--primary);
			@at-root [data-theme-version="dark"] & {
				background-color: var(--rgba-primary-1);
				border-color: transparent transparent $d-border transparent;
			}
		}
	}
}

.custom-tab-1 {
	.nav-link {
		background: transparent;
		border-radius: 0rem;
		font-weight: 300;
		border-bottom: 0.1875rem solid transparent;
		border-width: 0 0rem 0.1875rem 0;
		color: #4e5969;
		padding: 4px 12px;
		i {
			display: inline-block;
			transform: scale(1.5);
			color: var(--primary);
		}
		span {
			color: #86909c;
		}
		&:focus,
		&:hover,
		&.active {
			background-color: #fff;
			border-color: var(--primary);
			border-radius: 0;
			font-weight: 500;
			color: var(--primary);
			border-width: 0 0rem 0.1875rem 0;
			span {
				color: var(--primary);
			}
			@at-root [data-theme-version="dark"] & {
				background-color: var(--rgba-primary-1);
			}
		}
	}
}
.nav-pills {
	&.light {
		.nav-link.active,
		.show > .nav-link {
			background: var(--rgba-primary-1);
			color: var(--primary);
			box-shadow: none;
			@at-root [data-theme-version="dark"] & {
				background: var(--rgba-primary-1);
			}
		}
	}
	.nav-link.active,
	.show > .nav-link {
		background-color: var(--primary);
		box-shadow: 0 0 1.25rem 0 var(--rgba-primary-2);
	}
}

.coin-tabs .nav-tabs {
	border: 0;
}
.coin-tabs .nav-tabs .nav-link {
	border: 0;
	border-bottom: 0.0625rem solid var(--rgba-primary-2);
	font-size: 0.875rem;
	font-weight: 500;
	padding: 0.6rem 1.5rem;
}
.coin-tabs .nav-tabs .nav-link.active {
	color: var(--primary);
	border-color: var(--primary);
	border-bottom: 0.25rem solid var(--primary);
	background: transparent;
	font-weight: 600;
}

.dash-tabs .nav-tabs {
	border: 0;
}
.dash-tabs .nav-tabs {
	.nav-item {
		.nav-link {
			border: 0;
			border-right: 0.0625rem solid #e5e6eb;
			font-weight: 500;
			padding: 0 10px;
			color: #86909c;
			font-weight: 400;
			border-radius: 0;
		}
		&:last-child {
			.nav-link {
				border: none;
			}
		}
	}
}
.dash-tabs .nav-tabs .nav-link.active {
	color: var(--primary);
	background: transparent;
	font-weight: 600;
}
.print-tab {
	padding: 40px;
	.nav {
		flex-direction: column;
	}
	.nav-tabs {
    border-bottom: 1px solid #E5E6EB;
		margin-bottom: 16px;
}
	.nav-link {
		background: transparent;
		border-radius: 6px;
		font-weight: 600;
		border: 1px solid #c9cdd4;
		color: #4E5969;
		padding: 12px 16px;
		font-size: 16px;
		margin-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		i {
			display: inline-block;
			color: transparent;
		}

		&:focus,
		&:hover,
		&.active {
			border-color: var(--primary);
			color: var(--primary);
			background-color: #FEF1E6;
		}
		&.active {
			i {
				color: var(--primary);
			}
		}
	}
}
