.breadcrumb {
    font-size: 1.1875rem;
    .breadcrumb-item {
        a {
            color: #86909c;
        }
        &.active {
            &::before {
                content: "\e911";
                font-family: "icomoon";
                color: #1d2129;
            }
            a {
                color: #1d2129;
            }
        }
    }
}
