.tran {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.bottom-group {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px;
  background-color: $white;
  width: 100%;
  border-top: solid 1px $border;
}
.pb-100 {
  padding-bottom: 100px;
}
.gr-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.label-0 {
  height: 16px;
}

.order {
  display: flex;
  position: relative;
  &-left {
    width: calc(100% - 200px);
    padding-right: 20px;
  }
  &-right {
    width: 200px;
    .ul-order {
      list-style: none;
      a {
        color: #333;
        display: block;
        padding: 10px 0;
      }
      .active {
        color: var(--primary);
      }
    }
  }
}
.divider {
  height: 0;
  margin: 16px 0;
  overflow: hidden;
  border-top: 1px solid $border;
}
.fixed-tr {
  position: fixed;
  top: 84px;
  right: 24px;
  z-index: $zindex-fixed;
}
.profile {
  .custom-tab-1 {
    background-color: $white;
    padding: 0 16px;
    .nav-link {
      padding: 16px;
    }
  }
}
.payment {
  &-item {
    display: flex;
    img {
      width: 50px;
      height: 50px;
      border: 1px solid #e5e6eb;
      border-radius: 8px;
    }
  }
}
.service {
  &-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    border: solid 1px $border;
    width: 100%;
    border-radius: $radius;
    @extend .tran;

    &:hover {
      background-color: var(--rgba-primary-1);
    }
  }
}
.track-list {
  li {
    list-style: none;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: #c9cdd4;
      left: 0;
      top: 6px;
      border-radius: 10px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      border: 1px dashed #c9cdd4;
      left: 5px;
      top: 12px;
    }
    p {
      margin-bottom: 0;
    }
    .title {
      font-weight: 600;
    }
  }
  .active {
    &::after {
      background-color: var(--primary);
    }
  }
}
.decentralization {
  border: solid 1px $border;
  max-width: 480px;
  border-radius: $radius;
  padding: 16px;
  height: 500px;
  overflow: auto;
  &-item {
    margin-bottom: 10px;
  }
  &-1 {
    border-left: solid 1px $border;
    margin-left: 30px;
    padding-left: 20px;
  }
  &-2 {
    border-left: solid 1px $border;
    margin-left: 60px;
    padding-left: 20px;
  }
}
.select2 {
  &-results {
    &__group {
      color: #86909c;
      font-weight: 500;
    }
    &__option {
      &:first-child {
        // padding: 0;
      }
    }
  }
  &-selection {
    &__placeholder {
      color: #86909c !important;
    }
    &__rendered {
      color: #1d2129 !important;
    }
  }
}
.product {
  display: flex;
  position: relative;
  &-left {
    width: 270px;
    .ul {
      list-style: none;
      li {
        margin-bottom: 16px;
      }
    }
  }
  &-right {
    width: calc(100% - 270px);
    padding-left: 20px;
    .update-img {
      display: flex;
      flex-direction: column;
      width: 148px;
      margin: 0 auto;
      img {
        border-radius: 8px;
      }
    }
  }
}
.border-custom {
  border-radius: 8px;
  ul {
    list-style: none;
    margin-top: 30px;
    li {
      margin-bottom: 10px;
    }
  }
}
.error {
  background: rgba(16, 16, 18, 0.78);
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  padding: 10px 24px;
  margin: 20px;
}
.error-action {
  background: rgba(16, 16, 18, 0.78);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 8px;
  isolation: isolate;
  border-radius: 8px;
  color: #fff;
}
// canvas {
//   -moz-user-select: none;
//   -webkit-user-select: none;
//   -ms-user-select: none;
// }
#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: #ffffff;
  border: 1px solid #f2f3f5;
  box-shadow: 0px 4px 8px rgba(29, 33, 41, 0.12);
  border-radius: 8px;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-20%, 0);
  transform: translate(-20%, 0);
  font-family: "Inter", sans-serif;
  padding: 12px 12px;
  table {
    thead {
      th {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
#pie_chart {
  position: relative;
}
#chartjs-tooltip-2 {
  opacity: 1;
  position: absolute;
  background: #ffffff;
  border: 1px solid #f2f3f5;
  box-shadow: 0px 4px 8px rgba(29, 33, 41, 0.12);
  border-radius: 8px;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  // -webkit-transform: translate(-120%, 0);
  // transform: translate(-120%, 0);
  font-family: "Inter", sans-serif;
  padding: 12px 12px;
  table {
    thead {
      th {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}
.print {
  &-body {
    height: 100vh;
  }
  &-content {
    display: flex;
    height: 100%;
    position: relative;
  }
  &-left {
    width: calc(100% - 280px);
    padding-right: 20px;
    padding: 40px;
  }
  &-right {
    width: 280px;
    height: 100%;
    background-color: $white;
    .btn-primary {
      width: 100%;
      height: 56px;
    }
  }
  &-template {
    background-color: $white;
    margin: 0 auto;
    padding: 16px;
    .logo {
      width: 168px;
    }
  }
  &-a4 {
    width: 868px;
    .top {
      border-bottom: solid 3px var(--primary);
      text-align: right;
      font-weight: 600;
    }
  }
  &-tag{
    width: 400px;
  }
  
  &-table {
    // border: solid 1px $border;
    tr {
      th,
      td {
        padding: 8px;
        border: solid 1px $border;
        vertical-align: initial;
      }
    }
  }
}
