.dashboard {
  .text-head {
    margin-bottom: 16px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    order: 0;
    margin-bottom: 24px;
    .card {
      width: calc(33.33% - 16px / 3);
      height: 100%;
      margin-bottom: 0;
      // min-height: 100px;
      h5 {
        font-weight: 400;
      }
      &-data {
        // min-height: 75px;
      }
    }
  }
  .w-300 {
    max-width: 300px;
    height: 40px;
    line-height: 30px;
    span {
    }
  }
  .w-100 {
    max-width: 120px;
    height: 40px;
    line-height: 30px;
    span {
    }
  }
  .banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    order: 0;
    margin-bottom: 24px;
    img {
      width: 100%;
    }
  }
  .relate {
    li {
      list-style: none;
      margin-bottom: 10px;
      a {
        color: $black;
        display: flex;
        img {
          width: 40px;
          height: 40px;
          border-radius: 6px;
          margin-right: 10px;
        }
      }
    }
  }
}
.h-top {
  height: calc(100% - 1.875rem);
}
