.header-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  h1 {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.guide-back {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-weight: 700;
  border-bottom: 1px solid #e5e6eb79;
}
.guide-detail {
  // height: 100vh;
  padding: 16px;
  .tabcontent {
    display: none;
  }

  .tabcontent.active {
    display: block;
  }
}
.sidebar-guide {
  width: 20.5rem;
  padding-bottom: 0;
  height: calc(100% - 64px);
  position: absolute;
  top: 64px;
  padding-top: 0;
  z-index: 6;
  background-color: #0054a6;
  transition: all 0.2s ease;
  box-shadow: 0rem 0.9375rem 1.875rem 0rem rgba(0, 0, 0, 0.02);
  border-right: 1px solid #e5e6eb;
  position: fixed;
  @include respond("laptop") {
    width: 17rem;
  }
  .sidebar-scroll {
    overflow: auto;
    height: 100%;
    padding: 30px 0;
  }
  ul {
    padding-left: 2rem;
  }
  .guide-menu {
    list-style: upper-alpha;
    li {
      &::marker {
        color: #fff;
      }
      span,
      a {
        padding-right: 10px;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-bottom: 12px;
        text-transform: uppercase;
      }
      a {
        &:hover {
          color: var(--primary);
        }
      }
      .active {
        color: var(--primary);
      }
    }
    &-1 {
      list-style: upper-roman;
      li {
        a {
          text-transform: capitalize;
        }
      }
    }
    &-2 {
      list-style: auto;
    }
  }
}
.scrollbar {
  overflow: auto;
  scrollbar-gutter: none;
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
    @extend .tran;
  }
  &::-webkit-scrollbar:horizontal {
    display: none;
  }
}
