.authincation {
	background: #f7f8fa;
	display: flex;
	min-height: 100vh;
	background: url(/images/login/bg.png) no-repeat bottom center;
	background-size: contain;
	@include respond("laptop") {
		.login-aside {
			max-width: 22.5rem;
		}
	}
	@include respond("tab-port") {
		.login-aside {
			max-width: 100%;
			padding-top: 0;
			&:after {
				content: none;
			}
		}
	}
	@include respond("phone") {
		.login-aside {
			.aside-image {
				min-height: 18.75rem;
			}
		}
	}
	// .btn-back{
	// 	padding-left: 0;
	// }
	.search-area{
		width: 360px;
	}
}

.authincation-content {
	background: $white;
	box-shadow: 0 0 2.1875rem 0 rgba(154, 161, 171, 0.15);
	border-radius: 8px;
	max-width: 450px;
	@at-root [data-theme-version="dark"] & {
		background: $dark-card;
		box-shadow: none;
	}
}

.auth-form {
	padding: 3.125rem 3.125rem;
	@include respond("phone") {
		padding: 1.875rem;
	}
	.btn {
		height: 50px;
	}
	.btn-back{
		font-weight: 500;

	}
	img {
		width: 168px;
	}
}
