#visitor_graph {
	height: 15.8125rem !important;
}

#user_rating_graph {
	height: 17.5rem !important;
}

#radar_chart,
#pie_chart,
#doughnut_chart,
#polar_chart {
	// height: 10.875rem!important;
}

#activity {
	height: 16.875rem !important;
}

#visitorOnline {
	height: 4.5rem !important;
}
#trendMeter {
	height: 4.5rem !important;
}
#widget-revenue1,
#widget-revenue2,
#widget-revenue3 {
	height: 7.3125rem !important;
}
#widget-profit1,
#widget-profit2,
#widget-profit3 {
	height: 10rem !important;
}

#comparison-rate {
	height: 14.375rem;
}
#session_day {
	height: 10.9375rem;
	width: auto !important;
	margin: 0 auto;
}

#walet-status {
	height: 8.75rem;
}
#bar1 {
	height: 9.375rem;
}
#sold-product {
	height: 14.375rem;
}

#chart-venue-expenses,
#chart-online-sale,
#chart-gross-sale {
	height: 9.375rem !important;
}

#areaChart_3 {
	height: 18.4375rem !important;
}
.chart-point {
	display: flex;
	align-items: center;
	padding-bottom: 16px;

	.check-point-area {
		width: 16rem;
		height: 12rem;

	}
	.chart-point-list {
		margin: 0;
		padding-left: 0.3125rem;

		li {
			list-style: none;
			font-family: "Inter";
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			padding: 3px 0;

			i {
				margin-right: 0.3125rem;
				font-size: 0.6875rem;
				position: relative;
				top: -0.0625rem;
				font-family: "Font Awesome 5 Free";
			}
		}
	}
}
.chart-list {
	margin: 0;
	padding-left: 0.3125rem;
	display: flex;
	li {
		list-style: none;
		font-size: 14px;
		padding: 0.125rem 0;
		margin-left: 24px;
		i {
			margin-right: 0.3125rem;
			font-size: 0.6875rem;
			position: relative;
			top: -0.0625rem;
			font-family: "Font Awesome 5 Free";
		}
	}
}
