//style for all basic tables
.table {
	border-radius: 8px;
	// overflow: hidden;
	&-responsive {
		&-tiny {
			// @include media-breakpoint-down(xs) {
			min-width: 18.75rem;
			// }
		}

		&-sm {
			// @include media-breakpoint-down(sm) {
			min-width: 30rem !important;
			// }
		}

		&-md {
			// @include media-breakpoint-down(sm) {
			min-width: 36rem !important;
			// }
		}

		&-lg {
			min-width: 60.9375rem !important;
		}

		&-xl {
			min-width: 1500px !important;
		}
		&-1920 {
			min-width: 1900px !important;
		}
	}
	tbody tr td {
	}
	.dropdown {
		min-width: 110px;
	}
	&-primary {
		border-radius: $radius;
		// border: solid 1px $border;
		margin-bottom: 16px;
		thead {
			tr {
				th {
					background-color: #f7f8fa;
					border: none;
					vertical-align: middle;
					color: #1d2129;
					// white-space: nowrap;
					padding: 13px 0.5rem;
				}
			}
		}
		tbody {
			tr {
				td {
					vertical-align: middle;
					img {
						width: 32px;
						height: 32px;
						border-radius: 4px;
						margin-right: 10px;
					}
				}
				&:last-child {
					td {
						// border-bottom-width: 0;
					}
				}
			}
			.form-check-td {
				margin-right: 0;
				margin-top: -20px;
				height: 40px;
			}
		}
	}
	&-border-1 {
		border-radius: $radius;
		border: solid 1px $border;
	}
	&-dashboard {
		border-radius: $radius;
		border: none;
		margin-bottom: 16px;
		thead {
			tr {
				th {
					background-color: #fff;
					border: solid 1px transparent;
					vertical-align: middle;
					color: #212b36;
					font-weight: 400;
					// border-bottom:  $border;
					border-bottom-color: $border !important;
					border-bottom-width: 1px;
				}
			}
		}
		tbody {
			tr {
				td {
					vertical-align: middle;
					img {
						width: 32px;
						height: 32px;
					}
				}
				&:last-child {
					td {
						border-bottom-width: 0;
					}
				}
			}
		}
	}
	&-border {
		border: none;
		tbody {
			tr {
				td {
					border-right-width: 1px;
				}
				&:last-child {
					td {
						border-bottom-width: 1px;
					}
				}
			}
		}
	}
	&-secondary {
		border-radius: $radius;
		// border: solid 1px $border;
		thead {
			tr {
				th {
					background-color: #f7f8fa;
					border: none;
					color: #1d2129;
				}
			}
		}
		tbody {
			tr {
				td {
					vertical-align: middle;
					img {
						width: 32px;
						height: 32px;
						border-radius: 4px;
						margin-right: 10px;
					}
				}
			}
			.last-child {
				td {
					border: none;
					padding: 16px 12px;
					font-weight: 600;
					color: #4E5969;
				}
			}
		}
	}
	ul {
		list-style: none;
	}
	&-clear {
		td {
			border: none;
		}
	}
	&-search {
		display: flex;
		flex-direction: column;
		border: solid 1px $border;
		border-radius: $radius;
		.thead {
			display: flex;
			width: 100%;
			vertical-align: inherit;
			.th {
				background-color: #f7f8fa;
				border: none;
				color: #1d2129;
				vertical-align: middle;
				padding: 0.5rem;
				display: table-cell;
				width: 100%;
				font-weight: 600;
			}
		}
		.tbody {
			display: flex;
			width: 100%;
			// vertical-align: inherit;
			align-items: center;
			.th {
				border: none;
				vertical-align: middle;
				padding: 0.5rem;
				display: table-cell;
				width: 100%;

				.name {
					display: flex;
					align-items: center;
					img {
						width: 32px;
						height: 32px;
						border-radius: 4px;
						margin-right: 10px;
					}
				}
			}
		}
		.accordion-item {
			border-bottom: solid 1px $border;
		}
		.accordion-header {
			border: none;
			padding-left: 55px;
			.accordion-header-indicator {
				left: 8px;
				right: auto;
				background-color: var(--secondary);
				padding: 0.15rem 0.3rem;
				border-radius: 3px;
				&::before {
					color: $white;
				}
			}
		}
	}
	> :not(:last-child) > :last-child > * {
		border-bottom-color: $border;
	}
	.border-b {
		border-bottom: solid 1px $border;
	}
}
.table-secondary.border {
	.table {
		margin-bottom: 0;
	}
}
