.footer {
  padding-left: 20.563rem;
  background-color: #f9fafb;
  &-content {
    height: 100%;
    padding: 24px 15px; 
    align-items: center;
    display: flex;
    ul {
      list-style: none;
      li {
        margin-bottom: 8px;

        &:first-child {
          font-weight: 600;
          margin-bottom: 16px;
          text-transform: uppercase;
        }
        span {
          display: inline-flex;
        }
      }
    }
  }
}
