<div class="footer-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <ul>
          <li>TỔNG CÔNG TY CHUYỂN PHÁT NHANH BƯU ĐIỆN</li>
          <li>
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3.75 7.5C3.75 4.6005 6.1005 2.25 9 2.25C11.8995 2.25 14.25 4.6005 14.25 7.5C14.25 8.13116 13.9534 8.96918 13.409 9.93627C12.8758 10.8832 12.1551 11.8675 11.4192 12.7681C10.6857 13.6658 9.95014 14.4646 9.39693 15.0398C9.25039 15.1922 9.11692 15.3286 9 15.4467C8.88308 15.3286 8.74961 15.1922 8.60307 15.0398C8.04986 14.4646 7.31431 13.6658 6.58078 12.7681C5.84493 11.8675 5.1242 10.8832 4.59104 9.93627C4.04655 8.96918 3.75 8.13116 3.75 7.5ZM8.48387 17.0442C8.48399 17.0443 8.48409 17.0444 9 16.5L8.48409 17.0444L9 17.5333L9.51591 17.0444L9 16.5C9.51591 17.0444 9.51601 17.0443 9.51613 17.0442L9.51649 17.0438L9.51762 17.0427L9.52151 17.039L9.53566 17.0255L9.5885 16.9747C9.63426 16.9305 9.70065 16.8659 9.78471 16.7829C9.95278 16.617 10.1918 16.3773 10.4781 16.0796C11.0499 15.4851 11.8143 14.6552 12.5808 13.7172C13.3449 12.782 14.1242 11.7234 14.716 10.6722C15.2966 9.6411 15.75 8.5257 15.75 7.5C15.75 3.77208 12.7279 0.75 9 0.75C5.27208 0.75 2.25 3.77208 2.25 7.5C2.25 8.5257 2.70345 9.6411 3.28396 10.6722C3.8758 11.7234 4.65507 12.782 5.41922 13.7172C6.18569 14.6552 6.95014 15.4851 7.52193 16.0796C7.80824 16.3773 8.04722 16.617 8.21529 16.7829C8.29935 16.8659 8.36574 16.9305 8.4115 16.9747L8.46434 17.0255L8.47849 17.039L8.48238 17.0427L8.48351 17.0438L8.48387 17.0442ZM8.25 7.5C8.25 7.08579 8.58579 6.75 9 6.75C9.41421 6.75 9.75 7.08579 9.75 7.5C9.75 7.91421 9.41421 8.25 9 8.25C8.58579 8.25 8.25 7.91421 8.25 7.5ZM9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25Z"
                fill="#86909C" />
            </svg>
            <span>Tầng 4 FLC Landmark Tower, ngõ 5 Lê Đức Thọ, <br>
              Mỹ Đình 2, Nam Từ Liêm, Hà Nội.</span>
          </li>
          <li>
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3.5625 0.75L5.8608 0.75C6.17317 0.75 6.45284 0.943609 6.5628 1.23599L7.65437 4.13841C7.70255 4.2665 7.71476 4.40534 7.68968 4.53987L7.15316 7.4178C7.7991 8.90397 8.85254 9.91936 10.6114 10.8394L13.4459 10.2902C13.5831 10.2636 13.725 10.2759 13.8557 10.3257L16.767 11.4351C17.0578 11.5459 17.2499 11.8247 17.2499 12.1359L17.2499 14.2655C17.2499 15.8855 15.8169 17.221 14.132 16.8138C11.7558 16.2395 7.88019 14.9409 5.09458 12.1553C2.42371 9.48446 1.40175 5.88256 1.00744 3.67321C0.716281 2.04179 2.03291 0.75 3.5625 0.75ZM5.34158 2.25L3.5625 2.25C2.83698 2.25 2.37907 2.82108 2.48411 3.40967C2.85817 5.50556 3.80576 8.74519 6.15525 11.0947C8.64605 13.5855 12.1943 14.8023 14.4844 15.3558C15.1168 15.5086 15.7499 15.0294 15.7499 14.2655L15.7499 12.6527L13.5213 11.8035L10.6426 12.3613C10.48 12.3928 10.3115 12.3696 10.1635 12.2953C7.96466 11.1917 6.51529 9.87037 5.67856 7.77854C5.62577 7.64656 5.61157 7.50229 5.63762 7.36255L6.17674 4.47063L5.34158 2.25Z"
                fill="#86909C" />
            </svg>
            <span>1900545433</span>
          </li>
          <li>
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M2.25 5.75C2.25 5.05964 2.80964 4.5 3.5 4.5H14.5C15.1904 4.5 15.75 5.05964 15.75 5.75V12.25C15.75 12.9404 15.1904 13.5 14.5 13.5H3.5C2.80964 13.5 2.25 12.9404 2.25 12.25V5.75ZM3.5 3C1.98122 3 0.75 4.23122 0.75 5.75V12.25C0.75 13.7688 1.98122 15 3.5 15H14.5C16.0188 15 17.25 13.7688 17.25 12.25V5.75C17.25 4.23122 16.0188 3 14.5 3H3.5ZM5.6801 6.13557C5.34076 5.89804 4.87311 5.98056 4.63558 6.3199C4.39804 6.65924 4.48057 7.12689 4.8199 7.36442L8.5699 9.98942C8.82814 10.1702 9.17186 10.1702 9.4301 9.98942L13.1801 7.36442C13.5194 7.12689 13.602 6.65924 13.3644 6.3199C13.1269 5.98056 12.6592 5.89804 12.3199 6.13557L9 8.45951L5.6801 6.13557Z"
                fill="#86909C" />
            </svg>
            <span>
              cskh@ems.com.vn
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul>
          <li>KẾT NỐI VỚI CHÚNG TÔI</li>
          <li>
            <a href="">
              <img src="./images/icon/facebook.svg" alt="">
            </a>
            <a href="">
              <img src="./images/icon/zalo.svg" alt="">
            </a>
            <a href="">
              <img src="./images/icon/tiktok.svg" alt="">
            </a>
            <a href="">
              <img src="./images/icon/youtube.svg" alt="">
            </a>
            <a href="">
              <img src="./images/icon/instagram.svg" alt="">
            </a>
            <a href="">
              <img src="./images/icon/linkedin.svg" alt="">
            </a>
          </li>
        </ul>
        <ul>
          <li>Tải app EMS One</li>
          <li>
            <a href="">
              <img src="./images/icon/app.svg" alt="">
            </a>
            <a href="">
              <img src="./images/icon/gg.svg" alt="">
            </a>
            <a href="">
              <img src="./images/icon/bct.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>