<div class="header-content">
  <nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse justify-content-between">
      <div class="header-left">
        <ol class="breadcrumb">
          <li class="breadcrumb-item ">
            <a href="javascript:void(0)">Đơn hàng</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="javascript:void(0)">Danh sách đơn hàng</a>
          </li>
        </ol>
      </div>
      <ul class="navbar-nav header-right">
        <li class="nav-item dropdown notification_dropdown">
          <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10 0.083252C10.4142 0.083252 10.75 0.419038 10.75 0.833252V1.79839C13.5713 2.16589 15.75 4.57847 15.75 7.49992V8.41958C15.75 9.80371 16.2353 11.144 17.1214 12.2073L17.4648 12.6195C18.7765 14.1935 17.6572 16.5833 15.6083 16.5833H13.25V16.6666C13.25 18.4615 11.7949 19.9166 10 19.9166C8.20509 19.9166 6.75001 18.4615 6.75001 16.6666V16.5833H4.39175C2.34281 16.5833 1.22351 14.1935 2.53521 12.6195L2.87865 12.2073C3.76475 11.144 4.25001 9.80371 4.25001 8.41958V7.49992C4.25001 4.57847 6.42874 2.16589 9.25001 1.79839V0.833252C9.25001 0.419038 9.5858 0.083252 10 0.083252ZM8.25001 16.5833V16.6666C8.25001 17.6331 9.03351 18.4166 10 18.4166C10.9665 18.4166 11.75 17.6331 11.75 16.6666V16.5833H8.25001ZM12.5 15.0833H7.50001H4.39175C3.61456 15.0833 3.19 14.1768 3.68754 13.5798L4.03098 13.1676C5.14172 11.8347 5.75001 10.1546 5.75001 8.41958V7.49992C5.75001 5.15271 7.6528 3.24992 10 3.24992C12.3472 3.24992 14.25 5.15271 14.25 7.49992V8.41958C14.25 10.1546 14.8583 11.8347 15.969 13.1676L16.3125 13.5797C16.81 14.1768 16.3855 15.0833 15.6083 15.0833H12.5Z"
                fill="#86909C" />
            </svg>
            <span class="text-1 mx-2 fs-16">Thông báo</span>
            <span class="badge light text-white bg-primary ">14</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3" style="height:380px;">
              <div class="d-flex justify-content-center">

                <svg width="96" height="81" viewBox="0 0 96 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M44.3902 15.8637C44.7356 13.7406 45.7122 11.7844 48.1707 11.7844C49.7256 11.7844 50.6943 12.5687 51.2749 13.6834C51.9106 14.9035 52.1087 16.4899 52.1087 17.9464C52.1087 18.2556 52.3607 18.5066 52.6712 18.5066C52.9818 18.5066 53.2338 18.2556 53.2338 17.9464C53.2338 16.3118 52.9863 14.5371 52.274 13.1681C51.5067 11.6948 50.2252 10.6641 48.1707 10.6641C45.0731 10.6641 43.7151 13.0079 43.2797 15.6844C43.229 15.9903 43.4383 16.2782 43.7443 16.3275C44.0504 16.3768 44.3395 16.1695 44.3902 15.8637Z"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M44.5516 15.8884L44.5516 15.8888C44.4863 16.2829 44.1137 16.5505 43.7184 16.4868C43.3234 16.4232 43.0532 16.0518 43.1185 15.6568C43.1185 15.6568 43.1185 15.6567 43.1185 15.6566L43.2798 15.6831L43.1185 15.6571C43.1185 15.657 43.1185 15.6569 43.1185 15.6568C43.3388 14.3027 43.7948 13.0156 44.6022 12.0642C45.4148 11.1066 46.5745 10.5 48.1708 10.5C49.2269 10.5 50.0928 10.7654 50.7951 11.2264C51.4964 11.6867 52.0257 12.3362 52.4193 13.0918L52.4193 13.0919C53.1488 14.4942 53.3974 16.2988 53.3974 17.9451C53.3974 18.3442 53.0722 18.668 52.6714 18.668C52.2706 18.668 51.9454 18.3442 51.9454 17.9451C51.9454 16.4981 51.7478 14.9428 51.13 13.7571L51.13 13.757C50.8495 13.2185 50.4792 12.7672 49.9981 12.4503C49.5182 12.1341 48.9192 11.9459 48.1708 11.9459C46.9927 11.9459 46.181 12.4112 45.6167 13.127C45.0465 13.8505 44.7223 14.8393 44.5516 15.8884ZM52.2742 13.1668C52.9864 14.5358 53.2339 16.3105 53.2339 17.9451C53.2339 18.2543 52.9819 18.5053 52.6714 18.5053C52.3608 18.5053 52.1088 18.2543 52.1088 17.9451C52.1088 16.4886 51.9108 14.9022 51.2751 13.6821"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M48.1703 56.8945C38.7135 56.8945 31.0625 58.2804 26.9321 60.2825C25.0036 61.2158 23.8177 62.3171 23.4452 63.4408C23.2258 64.104 23.3755 64.7662 23.9032 65.3981C24.3262 65.9078 25.0216 66.4086 25.9599 66.8736C29.9812 68.8667 38.7168 70.3388 48.1703 70.3388C57.6237 70.3388 66.3594 68.8667 70.3806 66.8736C71.319 66.4086 72.0143 65.9078 72.4374 65.3981C72.9651 64.7662 73.1147 64.104 72.8953 63.4408C72.5229 62.3171 71.337 61.2158 69.4085 60.2825C65.2781 58.2804 57.6271 56.8945 48.1703 56.8945V56.8945ZM48.1703 58.0149C56.1014 58.0149 62.7375 58.9918 67.0164 60.5066C68.6682 61.0903 69.9598 61.7502 70.8194 62.4706C71.3257 62.8952 71.6745 63.3321 71.8264 63.7915C71.9277 64.0973 71.8152 64.392 71.5722 64.6833C71.2256 65.0989 70.645 65.491 69.8799 65.8709C65.9498 67.818 57.4077 69.2185 48.1703 69.2185C38.9329 69.2185 30.3908 67.818 26.4606 65.8709C25.6955 65.491 25.115 65.0989 24.7684 64.6833C24.5254 64.392 24.4129 64.0973 24.5141 63.7915C24.666 63.3321 25.0148 62.8952 25.5211 62.4706C26.3808 61.7502 27.6724 61.0903 29.3241 60.5066C33.603 58.9918 40.2391 58.0149 48.1703 58.0149V58.0149Z"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M23.4454 63.4395C23.8179 62.3158 25.0038 61.2144 26.9323 60.2812C31.0627 58.2791 38.7136 56.8932 48.1705 56.8932C57.6273 56.8932 65.2783 58.2791 69.4087 60.2812C71.3372 61.2144 72.5231 62.3158 72.8955 63.4395C73.1149 64.1027 72.9653 64.7649 72.4376 65.3967C72.0145 65.9065 71.3192 66.4073 70.3808 66.8723C66.3596 68.8654 57.6239 70.3375 48.1705 70.3375C38.717 70.3375 29.9814 68.8654 25.9601 66.8723C25.0218 66.4073 24.3264 65.9065 23.9034 65.3967C23.3757 64.7649 23.226 64.1027 23.4454 63.4395ZM23.7775 65.5006C23.2204 64.8334 23.0503 64.1139 23.2902 63.3886L23.2902 63.3885C23.6836 62.2015 24.9193 61.0744 26.8608 60.1348C31.0243 58.1167 38.7047 56.7305 48.1705 56.7305C57.6364 56.7305 65.3168 58.1167 69.4802 60.1348C71.4217 61.0744 72.6573 62.2015 73.0507 63.3885L73.0508 63.3886C73.2907 64.114 73.1205 64.8335 72.5633 65.5008C72.1198 66.035 71.4021 66.548 70.4537 67.0179C68.421 68.0254 65.2126 68.8949 61.3386 69.513C57.4612 70.1316 52.9053 70.5003 48.1705 70.5003C43.4357 70.5003 38.8798 70.1316 35.0024 69.513C31.1284 68.8949 27.92 68.0254 25.8873 67.0179C24.9388 66.548 24.221 66.0349 23.7775 65.5006ZM66.962 60.6586L66.9619 60.6586C62.7071 59.1524 56.0915 58.1763 48.1705 58.1763C40.2495 58.1763 33.6339 59.1524 29.3791 60.6586L29.379 60.6586C27.7357 61.2393 26.4648 61.8913 25.6266 62.5937C25.1319 63.0086 24.8082 63.4219 24.6696 63.841L24.6696 63.8411C24.5937 64.0702 24.6678 64.3065 24.8943 64.578L24.8944 64.578C25.219 64.9674 25.7751 65.3473 26.5338 65.7239C28.4765 66.6864 31.575 67.5202 35.3509 68.1128C39.1232 68.7049 43.5596 69.0544 48.1705 69.0544C52.7814 69.0544 57.2177 68.7049 60.9901 68.1128C64.766 67.5201 67.8646 66.6864 69.8073 65.7238C70.5659 65.3473 71.122 64.9674 71.4466 64.578L71.4466 64.578C71.6731 64.3065 71.7472 64.0702 71.6714 63.8411L71.6714 63.841C71.5328 63.4219 71.2091 63.0086 70.7144 62.5938C69.8762 61.8913 68.6053 61.2394 66.962 60.6586ZM26.4608 65.8695C25.6957 65.4897 25.1152 65.0976 24.7686 64.682C24.5256 64.3907 24.4131 64.096 24.5143 63.7901C24.6662 63.3308 25.015 62.8939 25.5213 62.4692C26.3809 61.7489 27.6726 61.089 29.3243 60.5053C33.6032 58.9905 40.2393 58.0136 48.1705 58.0136C56.1016 58.0136 62.7377 58.9905 67.0166 60.5053C68.6684 61.089 69.96 61.7489 70.8196 62.4692C71.3259 62.8939 71.6747 63.3308 71.8266 63.7901C71.9279 64.096 71.8154 64.3907 71.5724 64.682C71.2258 65.0976 70.6452 65.4897 69.8801 65.8695C65.95 67.8167 57.4079 69.2172 48.1705 69.2172C38.9331 69.2172 30.391 67.8167 26.4608 65.8695Z"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M53.032 59.9512C53.1636 60.3993 53.2334 60.8732 53.2334 61.3628C53.2334 64.1458 50.9651 66.4044 48.1702 66.4044C45.3754 66.4044 43.1071 64.1458 43.1071 61.3628C43.1071 60.0352 43.6235 58.8274 44.4674 57.9267C44.6789 57.7004 44.6665 57.3452 44.4392 57.1346C44.212 56.9239 43.8564 56.9363 43.6449 57.1626C42.6131 58.2628 41.9819 59.7405 41.9819 61.3628C41.9819 64.7642 44.7543 67.5248 48.1702 67.5248C51.5862 67.5248 54.3585 64.7642 54.3585 61.3628C54.3585 60.7645 54.2719 60.1853 54.1121 59.6375C54.0255 59.3406 53.7127 59.1703 53.4145 59.2565C53.1164 59.3428 52.9453 59.6543 53.032 59.9512V59.9512Z"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M44.5871 58.0362L44.587 58.0364C43.7702 58.9082 43.2706 60.0768 43.2706 61.3615C43.2706 64.0546 45.4657 66.2404 48.1703 66.2404C50.8749 66.2404 53.07 64.0546 53.07 61.3615C53.07 60.8874 53.0025 60.4288 52.8752 59.9955L53.0319 59.9499L52.8751 59.9953C52.7634 59.6125 52.9838 59.2104 53.369 59.0989C53.7535 58.9877 54.1572 59.2071 54.2692 59.5907L54.2692 59.5908C54.4332 60.153 54.5221 60.7475 54.5221 61.3615C54.5221 64.8528 51.6765 67.6862 48.1703 67.6862C44.6641 67.6862 41.8186 64.8528 41.8186 61.3615C41.8186 59.6964 42.4666 58.1793 43.5256 57.0502C43.7987 56.7581 44.2576 56.7425 44.5507 57.0141C44.8442 57.2861 44.86 57.7443 44.5871 58.0362ZM43.645 57.1613C42.6133 58.2615 41.982 59.7392 41.982 61.3615C41.982 64.7629 44.7544 67.5235 48.1703 67.5235C51.5863 67.5235 54.3586 64.7629 54.3586 61.3615C54.3586 60.7632 54.272 60.184 54.1122 59.6361C54.0256 59.3392 53.7128 59.169 53.4146 59.2552C53.1165 59.3415 52.9454 59.6529 53.0321 59.9498C53.1637 60.398 53.2335 60.8719 53.2335 61.3615C53.2335 64.1445 50.9652 66.4031 48.1703 66.4031C45.3755 66.4031 43.1072 64.1445 43.1072 61.3615C43.1072 60.0339 43.6236 58.8261 44.4675 57.9254C44.679 57.699 44.6666 57.3439 44.4394 57.1333C44.2121 56.9226 43.8565 56.935 43.645 57.1613Z"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M31.8554 37.96C31.8554 37.2789 31.8554 36.5697 31.8554 35.8414C31.8554 35.5322 31.6033 35.2812 31.2928 35.2812C30.9823 35.2812 30.7302 35.5322 30.7302 35.8414V37.96C30.7302 38.2692 30.9823 38.5202 31.2928 38.5202C31.6033 38.5202 31.8554 38.2692 31.8554 37.96Z"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M32.0189 37.9587C32.0189 38.3578 31.6937 38.6816 31.2929 38.6816C30.8921 38.6816 30.5669 38.3578 30.5669 37.9587V35.8401C30.5669 35.441 30.8921 35.1172 31.2929 35.1172C31.6937 35.1172 32.0189 35.441 32.0189 35.8401V37.9587ZM31.8555 35.8401V37.9587C31.8555 38.2679 31.6035 38.5189 31.2929 38.5189C30.9824 38.5189 30.7303 38.2679 30.7303 37.9587V35.8401C30.7303 35.5309 30.9824 35.2799 31.2929 35.2799C31.6035 35.2799 31.8555 35.5309 31.8555 35.8401Z"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M36.3041 22.7143C39.153 19.8776 43.0168 18.2844 47.0448 18.2844H49.2951C53.3231 18.2844 57.1868 19.8776 60.0357 22.7143C60.7772 23.4526 61.4342 24.2604 62.0002 25.1209C62.1712 25.3797 62.52 25.4514 62.7799 25.2822C63.0387 25.113 63.1118 24.7657 62.9419 24.5069C62.3332 23.5826 61.6278 22.7154 60.8312 21.9222C57.7719 18.876 53.6224 17.1641 49.2951 17.1641H47.0448C42.7175 17.1641 38.5679 18.876 35.5087 21.9222C35.2893 22.1407 35.2893 22.4959 35.5087 22.7143C35.7281 22.9328 36.0847 22.9328 36.3041 22.7143V22.7143Z"
                    fill="#C9CDD4" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M61.8638 25.209L61.8636 25.2087C61.3037 24.3575 60.6537 23.5584 59.9202 22.8281C57.102 20.0219 53.2798 18.4459 49.2952 18.4459H47.0449C43.0602 18.4459 39.238 20.0219 36.4198 22.8281C36.1366 23.1101 35.6764 23.1101 35.3932 22.8281C35.11 22.5461 35.11 22.0879 35.3932 21.8058C38.4831 18.7291 42.6742 17 47.0449 17H49.2952C53.6658 17 57.8569 18.7291 60.9468 21.8058C61.7514 22.607 62.464 23.4829 63.0787 24.4163L63.0788 24.4165C63.2981 24.7505 63.2038 25.1985 62.8697 25.4169L62.8694 25.4171C62.5343 25.6353 62.0844 25.5428 61.8638 25.209ZM47.0449 18.2831C43.0169 18.2831 39.1531 19.8763 36.3043 22.713C36.0849 22.9315 35.7282 22.9315 35.5088 22.713C35.2894 22.4945 35.2894 22.1394 35.5088 21.9209C38.568 18.8747 42.7176 17.1627 47.0449 17.1627H49.2952C53.6225 17.1627 57.772 18.8747 60.8313 21.9209C61.6279 22.7141 62.3333 23.5813 62.942 24.5056C63.1119 24.7644 63.0388 25.1117 62.78 25.2809C62.5201 25.45 62.1713 25.3783 62.0003 25.1195C61.4343 24.2591 60.7773 23.4513 60.0358 22.713C57.1869 19.8763 53.3232 18.2831 49.2952 18.2831H47.0449Z"
                    fill="#C9CDD4" />
                  <path
                    d="M64.7434 42.4215L64.7434 42.4217L66.0083 42.2576C65.7938 40.6105 65.6849 38.9489 65.6849 37.2828V36.1188C65.6849 35.7678 65.399 35.4836 65.0473 35.4836C64.6957 35.4836 64.4097 35.7678 64.4097 36.1188V37.2828C64.4097 39.0036 64.5213 40.7199 64.7434 42.4215Z"
                    fill="#C9CDD4" stroke="#C9CDD4" stroke-width="0.15" />
                  <path
                    d="M71.7654 63.8183L71.7654 63.8184C71.8892 64.141 72.2476 64.306 72.5738 64.1905C72.9001 64.075 73.0751 63.7208 72.9666 63.3927C72.9411 63.3155 72.9112 63.2389 72.8795 63.1631C72.8793 63.1627 72.8792 63.1624 72.879 63.162L70.6296 57.2924L70.6295 57.2922C70.5033 56.9659 70.135 56.8009 69.8062 56.9264C69.4771 57.0509 69.3124 57.4181 69.4375 57.7459L69.4375 57.746L70.6234 60.8402C70.2669 60.6159 69.8727 60.3986 69.4411 60.1904C65.2956 58.181 57.6312 56.795 48.1703 56.795C40.5855 56.795 34.1583 57.6827 29.7808 59.0683C28.1225 59.5927 26.7499 60.1985 25.7014 60.856L29.3403 51.2814L29.3403 51.2813C30.0189 49.4944 30.5667 47.6647 30.9816 45.8071L30.9816 45.8069C31.0999 45.2716 31.2081 44.7351 31.3051 44.1964C31.3677 43.8505 31.1365 43.5204 30.79 43.4583L30.7897 43.4582C30.4434 43.3974 30.1116 43.6267 30.0503 43.9727C29.956 44.4938 29.8515 45.0137 29.7359 45.5313L29.7359 45.5313C29.335 47.3305 28.805 49.1017 28.148 50.8315L24.974 59.1815L23.8308 62.1893L23.5012 63.0563L23.4134 63.2874L23.3907 63.347L23.385 63.3621L23.3835 63.3659L23.3832 63.3668L23.3831 63.3671L23.4532 63.3938L23.3831 63.3672L23.383 63.3673C23.263 63.6851 23.4138 64.0394 23.7259 64.1751L23.7261 64.1752C24.0384 64.3097 24.4017 64.1766 24.5522 63.8718L24.5522 63.8717L24.8436 63.2792C25.2263 62.7146 25.8807 62.178 26.7796 61.6752C27.6798 61.1717 28.8204 60.7049 30.167 60.279L30.167 60.279C34.4441 58.9253 40.7355 58.0653 48.1703 58.0653C56.0968 58.0653 62.7236 59.0419 66.9914 60.5527L66.9915 60.5527C68.6394 61.1351 69.9215 61.7913 70.7713 62.5035C71.2078 62.8696 71.5202 63.2412 71.6908 63.6231L71.7654 63.8183Z"
                    fill="#C9CDD4" stroke="#C9CDD4" stroke-width="0.15" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M17.0713 28.667C21.0734 31.9855 24.756 33.6134 27.7084 34.0111C30.1612 34.3416 32.1595 33.8375 33.5445 32.7821C34.9982 31.6763 35.8319 29.9554 35.7937 27.7864C35.7554 25.6364 34.9464 24.106 33.8506 23.1291C31.1232 20.6968 26.5529 21.6648 25.6966 25.3104C25.556 25.9132 25.9318 26.5159 26.536 26.6571C27.1413 26.7971 27.7467 26.4229 27.8884 25.8213C28.352 23.8439 30.87 23.4786 32.3485 24.7984C33.0562 25.4281 33.5186 26.4386 33.5434 27.8256C33.5636 28.9751 33.2385 29.9397 32.587 30.6344C31.9243 31.3402 30.9421 31.7514 29.7348 31.8488C26.8848 32.0785 22.9468 30.622 18.5115 26.945C18.0344 26.5495 17.3244 26.6145 16.9261 27.0895C16.529 27.5646 16.5942 28.2715 17.0713 28.667V28.667Z"
                    fill="#E5E6EB" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M17.0047 38.6909C21.2589 42.8295 30.0463 43.9443 37.3203 41.177C44.771 38.3436 47.0044 35.797 51.9236 34.047C52.5086 33.8386 52.8136 33.1967 52.6054 32.6141C52.3961 32.0326 51.7514 31.729 51.1675 31.9363C46.2326 33.6919 43.9913 36.2418 36.517 39.0841C30.1014 41.5243 22.3289 40.7378 18.5777 37.0888C18.1333 36.6563 17.4199 36.6642 16.9867 37.1067C16.5524 37.5493 16.5603 38.2584 17.0047 38.6909Z"
                    fill="#E5E6EB" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M57.6778 32.1691C59.631 31.1888 63.5341 30.2387 65.7687 31.0936C66.3481 31.3154 66.9996 31.0275 67.2224 30.4505C67.4451 29.8735 67.156 29.2248 66.5765 29.003C63.8447 27.9566 59.0538 28.9694 56.6651 30.1682C56.1104 30.446 55.8877 31.1205 56.1667 31.6728C56.4457 32.2251 57.1231 32.447 57.6778 32.1691V32.1691Z"
                    fill="#E5E6EB" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M62.2442 29.5557C61.8111 31.7897 62.8439 33.5486 64.6149 34.5973C67.1195 36.0807 71.1689 36.093 74.3699 33.8668C77.185 31.9096 78.6117 31.7236 78.6117 31.7236C78.7827 31.7045 78.9346 31.6082 79.0258 31.4637C79.1169 31.318 79.136 31.1399 79.0786 30.9785C77.4607 26.4725 72.3672 23.8407 68.2052 24.234C65.3384 24.504 62.9024 26.1644 62.2442 29.5557Z"
                    fill="#E5E6EB" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M47.7713 54.4301C52.0052 50.864 58.3218 48.0597 63.0609 47.8054C65.732 47.662 67.8979 48.295 68.4571 50.4898C68.7147 51.5003 68.6292 52.3518 68.2883 53.0296C67.7786 54.0435 66.7334 54.6463 65.6498 54.8491C64.4864 55.0653 63.2364 54.8435 62.5478 53.992C62.1574 53.5114 61.4486 53.4352 60.9647 53.8228C60.4821 54.2116 60.4055 54.9174 60.7948 55.3992C61.9774 56.8579 64.069 57.4237 66.065 57.0506C67.8236 56.7223 69.4731 55.6781 70.3001 54.0335C70.8503 52.9389 71.0539 51.5687 70.6376 49.9385C69.8162 46.7141 66.8627 45.3574 62.9405 45.568C57.793 45.8436 50.9161 48.8473 46.3176 52.7193C45.8439 53.1192 45.7843 53.8262 46.1849 54.299C46.5865 54.7707 47.2965 54.83 47.7713 54.4301V54.4301Z"
                    fill="#E5E6EB" />
                </svg>
              </div>
              <p class="text-center op4">
                Bạn chưa có thông báo nào.
              </p>
            </div>

          </div>
        </li>
        <li class="nav-item dropdown header-profile">
          <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
            <img src="images/profile/pic1.jpeg" width="20" alt="" />
            <div class="header-info me-3">
              <span class="fs-16 d-flex align-items-center">Toannadi
                <i class="icon-arrow-b fs-20"></i>
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="./thong-tin-tai-khoan.html" class="dropdown-item ai-icon">
              <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
              <span class="ms-2">Thông tin tài khoản </span>
            </a>
            <a href="./email-inbox.html" class="dropdown-item ai-icon">
              <svg id="icon-inbox" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.82048 14.5772L4.14012 12.7371C3.23669 12.2853 2.66602 11.362 2.66602 10.3519V1.73334C2.66602 1.51242 2.8451 1.33334 3.06602 1.33334H12.9327C13.1536 1.33334 13.3327 1.51242 13.3327 1.73334V10.3519C13.3327 11.362 12.762 12.2853 11.8586 12.7371L8.17822 14.5772C8.06562 14.6335 7.93308 14.6335 7.82048 14.5772Z"
                  stroke="#0054A6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8 6.66667V1.33334" stroke="#0054A6" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M2.66602 6.66666H13.3327" stroke="#0054A6" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              <span class="ms-2">Đổi mật khẩu </span>
            </a>
            <a href="./login.html" class="dropdown-item ai-icon">
              <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                <polyline points="16 17 21 12 16 7"></polyline>
                <line x1="21" y1="12" x2="9" y2="12"></line>
              </svg>
              <span class="ms-2">Đăng xuất </span>
            </a>
          </div>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>
</div>
<script>
  jQuery(".dz-scroll").each(function () {
    var scroolWidgetId = jQuery(this).attr("id");
    const ps = new PerfectScrollbar("#" + scroolWidgetId, {
      wheelSpeed: 2,
      wheelPropagation: true,
      minScrollbarLength: 20,
    });
    ps.isRtl = false;
  });
</script>