<nav class="navbar navbar-expand">
  <div class="collapse navbar-collapse justify-content-between">
    <div class="header-left">
      <div class="nav-item">
        <div class="form-search">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.9842 17.6825L15.8675 14.575C16.8731 13.2939 17.4187 11.7119 17.4167 10.0833C17.4167 8.63294 16.9866 7.21512 16.1808 6.00916C15.375 4.80319 14.2297 3.86326 12.8897 3.30822C11.5497 2.75318 10.0752 2.60795 8.65268 2.89091C7.23015 3.17387 5.92347 3.8723 4.89789 4.89789C3.8723 5.92347 3.17387 7.23015 2.89091 8.65268C2.60795 10.0752 2.75318 11.5497 3.30822 12.8897C3.86326 14.2297 4.80319 15.375 6.00916 16.1808C7.21512 16.9866 8.63294 17.4167 10.0833 17.4167C11.7119 17.4187 13.2939 16.8731 14.575 15.8675L17.6825 18.9842C17.7677 19.0701 17.8691 19.1383 17.9808 19.1848C18.0925 19.2314 18.2123 19.2553 18.3333 19.2553C18.4543 19.2553 18.5742 19.2314 18.6859 19.1848C18.7976 19.1383 18.899 19.0701 18.9842 18.9842C19.0701 18.899 19.1383 18.7976 19.1848 18.6859C19.2314 18.5742 19.2553 18.4543 19.2553 18.3333C19.2553 18.2123 19.2314 18.0925 19.1848 17.9808C19.1383 17.8691 19.0701 17.7677 18.9842 17.6825V17.6825ZM4.58334 10.0833C4.58334 8.99554 4.90591 7.93217 5.51025 7.0277C6.1146 6.12323 6.97358 5.41828 7.97858 5.002C8.98357 4.58572 10.0894 4.4768 11.1563 4.68902C12.2232 4.90124 13.2032 5.42506 13.9724 6.19425C14.7416 6.96344 15.2654 7.94345 15.4777 9.01034C15.6899 10.0772 15.581 11.1831 15.1647 12.1881C14.7484 13.1931 14.0434 14.0521 13.139 14.6564C12.2345 15.2608 11.1711 15.5833 10.0833 15.5833C8.62465 15.5833 7.2257 15.0039 6.19425 13.9724C5.1628 12.941 4.58334 11.542 4.58334 10.0833Z"
              fill="#86909C" />
          </svg>
          <input type="text" class="form-control " placeholder="Tìm theo mã bưu gửi hoặc mã đơn hàng" required>
        </div>
      </div>
    </div>
    <ul class="navbar-nav header-right">
      <li class="nav-item">
        <button class="btn btn-primary d-flex align-items-center">Tạo đơn hàng <i
            class="icon-arrow-b fs-20"></i></button>
      </li>
      <li class="nav-item dropdown notification_dropdown">
        <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10 0.083252C10.4142 0.083252 10.75 0.419038 10.75 0.833252V1.79839C13.5713 2.16589 15.75 4.57847 15.75 7.49992V8.41958C15.75 9.80371 16.2353 11.144 17.1214 12.2073L17.4648 12.6195C18.7765 14.1935 17.6572 16.5833 15.6083 16.5833H13.25V16.6666C13.25 18.4615 11.7949 19.9166 10 19.9166C8.20509 19.9166 6.75001 18.4615 6.75001 16.6666V16.5833H4.39175C2.34281 16.5833 1.22351 14.1935 2.53521 12.6195L2.87865 12.2073C3.76475 11.144 4.25001 9.80371 4.25001 8.41958V7.49992C4.25001 4.57847 6.42874 2.16589 9.25001 1.79839V0.833252C9.25001 0.419038 9.5858 0.083252 10 0.083252ZM8.25001 16.5833V16.6666C8.25001 17.6331 9.03351 18.4166 10 18.4166C10.9665 18.4166 11.75 17.6331 11.75 16.6666V16.5833H8.25001ZM12.5 15.0833H7.50001H4.39175C3.61456 15.0833 3.19 14.1768 3.68754 13.5798L4.03098 13.1676C5.14172 11.8347 5.75001 10.1546 5.75001 8.41958V7.49992C5.75001 5.15271 7.6528 3.24992 10 3.24992C12.3472 3.24992 14.25 5.15271 14.25 7.49992V8.41958C14.25 10.1546 14.8583 11.8347 15.969 13.1676L16.3125 13.5797C16.81 14.1768 16.3855 15.0833 15.6083 15.0833H12.5Z"
              fill="#86909C" />
          </svg>
          <span class="text-1 mx-2 fs-16">Thông báo</span>
          <span class="badge light text-white ">14</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3" style="height:380px;">
            <ul class="timeline">
              <li>
                <div class="timeline-panel">
                  <div class="media">
                    <img alt="image" width="50" src="./images/avatar/1.jpg" />
                  </div>
                  <div class="media-body">
                    <h6 class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet ac arcu
                      nunc,
                      auctor scelerisque pretium</h6>
                    <small class="d-block">29 July 2020 - 02:26 PM</small>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="media media-info">KG</div>
                  <div class="media-body">
                    <h6 class="mb-1">Resport created successfully</h6>
                    <small class="d-block">29 July 2020 - 02:26 PM</small>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="media media-success">
                    <i class="fa fa-home"></i>
                  </div>
                  <div class="media-body">
                    <h6 class="mb-1">Reminder : Treatment Time!</h6>
                    <small class="d-block">29 July 2020 - 02:26 PM</small>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="media">
                    <img alt="image" width="50" src="images/avatar/1.jpg" />
                  </div>
                  <div class="media-body">
                    <h6 class="mb-1">Dr sultads Send you Photo</h6>
                    <small class="d-block">29 July 2020 - 02:26 PM</small>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="media media-danger">KG</div>
                  <div class="media-body">
                    <h6 class="mb-1">Resport created successfully</h6>
                    <small class="d-block">29 July 2020 - 02:26 PM</small>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="media media-primary">
                    <i class="fa fa-home"></i>
                  </div>
                  <div class="media-body">
                    <h6 class="mb-1">Reminder : Treatment Time!</h6>
                    <small class="d-block">29 July 2020 - 02:26 PM</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- <a class="all-notification" href="javascript:void(0);">
            See all notifications <i class="ti-arrow-end"></i>
          </a> -->
        </div>
      </li>
      <li class="nav-item dropdown header-profile">
        <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
          <img src="images/profile/pic1.jpeg" width="20" alt="" />
          <div class="header-info me-3">
            <span class="fs-16 d-flex align-items-center">Toannadi
              <i class="icon-arrow-b fs-20"></i>
            </span>
            <!-- <small class="fs-14 font-w400">toannadi@gmail.com</small> -->
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="./thong-tin-tai-khoan.html" class="dropdown-item ai-icon">
            <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <span class="ms-2">Thông tin tài khoản </span>
          </a>
          <a href=" " class="dropdown-item ai-icon" data-bs-toggle="modal" data-bs-target="#forgotPass">
            <svg id="icon-inbox" width="16" height="16" viewBox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.82048 14.5772L4.14012 12.7371C3.23669 12.2853 2.66602 11.362 2.66602 10.3519V1.73334C2.66602 1.51242 2.8451 1.33334 3.06602 1.33334H12.9327C13.1536 1.33334 13.3327 1.51242 13.3327 1.73334V10.3519C13.3327 11.362 12.762 12.2853 11.8586 12.7371L8.17822 14.5772C8.06562 14.6335 7.93308 14.6335 7.82048 14.5772Z"
                stroke="#0054A6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8 6.66667V1.33334" stroke="#0054A6" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M2.66602 6.66666H13.3327" stroke="#0054A6" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>

            <span class="ms-2">Đổi mật khẩu </span>
          </a>
          <a href="./login.html" class="dropdown-item ai-icon">
            <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
              <polyline points="16 17 21 12 16 7"></polyline>
              <line x1="21" y1="12" x2="9" y2="12"></line>
            </svg>
            <span class="ms-2">Đăng xuất </span>
          </a>
        </div>
      </li>
      <li class="nav-item"></li>
    </ul>
  </div>
</nav>
<script>
  jQuery(".dz-scroll").each(function () {
    var scroolWidgetId = jQuery(this).attr("id");
    const ps = new PerfectScrollbar("#" + scroolWidgetId, {
      wheelSpeed: 2,
      wheelPropagation: true,
      minScrollbarLength: 20,
    });
    ps.isRtl = false;
  });
</script>