<a href="index.html" class="brand-logo">
  <img class="logo-abbr" src="./images/logo-abbr.svg" alt="">
  <img class="brand-title" src="./images/logo-title.svg" alt="">
</a>
<div class="nav-control">
  <div class="hamburger">
    <span class="line"></span><span class="line"></span><span class="line"></span>
  </div>
</div>