<div class="deznav-scroll">
  <ul class="metismenu" id="menu">
    <li><a class="" href="index.html" aria-expanded="false">
        <i class="icon-icon01"></i>
        <span class="nav-text">Tổng quan </span>
      </a>
    </li>

    <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon02"></i>
        <span class="nav-text">Yêu cầu đặt hàng </span> 
      </a>
      <ul aria-expanded="false">
        <li><a href="./yeu-cau-tao-moi.html">Tạo yêu cầu</a></li>
        <li><a href="./yeu-cau-xu-ly.html">Xử lý</a></li>
        <li><a href="./yeu-cau-chia-yeu-cau.html">Chia yêu cầu</a></li>
        <li><a href="./yeu-cau-chia-lai-yeu-cau.html">Chia lại yêu cầu</a></li>

      </ul>
    </li>
    <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon03"></i>
        <span class="nav-text">Đơn hàng</span>
      </a>
      <ul aria-expanded="false">
        <li><a href="./don-hang-quan-ly-don-hang.html">Danh sách đơn hàng</a></li>
        <li><a href="./don-hang-tao-moi.html">Tạo đơn hàng</a></li>
        <li><a href="./don-hang-uoc-tinh-cuoc.html">Ước tính cước phí</a></li>

      </ul>
    </li>
    <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon04"></i>
        <span class="nav-text">Sản phẩm</span>
      </a>
      <ul aria-expanded="false">
        <li><a href="./san-pham-quan-ly-san-pham.html">Danh sách sản phẩm</a></li>
        <li><a href="./san-pham-tao-moi.html">Thêm sản phẩm</a></li>
        <li><a href="./san-pham-nhom-san-pham.html">Nhóm sản phẩm</a></li>

      </ul>
    </li>
    <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon12"></i>
        <span class="nav-text">Khách hàng</span>
      </a>
      <ul aria-expanded="false">
        <li><a href="./khach-hang-danh-sach.html">Danh sách khách hàng</a></li>
        <li><a href="./khach-hang-nhom-khach-hang.html">Nhóm khách hàng</a></li>
        <li><a href="./khach-hang-nhan-khach-hang.html">Nhãn khách hàng</a></li>

      </ul>
    </li>
    <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon06"></i>
        <span class="nav-text">Tồn kho</span>
      </a>
      <ul aria-expanded="false">
        <li><a href="./ts-ton-kho.html">Tồn kho</a></li>
        <li><a href="./ts-nhap-kho.html">Nhập kho</a></li>
        <li><a href="./ts-xuat-kho.html">Xuất kho</a></li>
        <li><a href="./ts-kiem-kho.html">Kiểm kho</a></li>
        <li><a href="./ts-dieu-chinh-kho.html">Điều chỉnh kho</a></li>
        <li><a href="./ts-nha-cung-cap.html">Nhà cung cấp</a></li>
        <li><a href="./ts-danh-sach-kho.html">Danh sách kho</a></li>

      </ul>
    </li>
    <li><a href="./ho-tro.html" class="" aria-expanded="false">
        <i class="icon-icon07"></i>
        <span class="nav-text">Hỗ trợ</span>
      </a>
    </li>
    <!-- <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon08"></i>
        <span class="nav-text">Báo cáo</span>
      </a>
      <ul aria-expanded="false">
        <li><a href="./blank.html">Tồn kho</a></li>

      </ul>
    </li> -->
    <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon09"></i>
        <span class="nav-text">Đối soát</span>
      </a>
      <ul aria-expanded="false">
        <li><a href="./ds-cuoc-van-chuyen.html">Cước vận chuyển</a></li>
        <li><a href="./ds-doi-soat-cuoc-van-chuyen.html">Đối soát cước vận chuyển</a></li>
        <li><a href="./ds-doi-soat-cuoc-van-chuyen-ctkm.html">CKTM cước vận chuyển</a></li>
        <li><a href="./ds-tien-cod.html">Tiền COD</a></li>
        <li><a href="./ds-doi-soat-tien-cod.html.html">Đối soát tiền COD</a></li>
      </ul>
    </li>
    <li><a class=" " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon07"></i>
        <span class="nav-text">Thanh toán</span>
      </a>
      <ul aria-expanded="false">
        <!-- <li><a href="./blank.html"></a></li> -->

      </ul>
    </li>
    <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon08"></i>
        <span class="nav-text">Cấu hình</span>
      </a>
      <ul aria-expanded="false">
        <li><a href="./cai-dat-trang-thai.html">Tình trạng xử lý</a></li>
        <li><a href="./cai-dat-phan-quyen.html">Phân quyền</a></li>
        <li><a href="./cai-dat-khuyen-mai.html">Khuyến mãi</a></li>
        <li><a href="./cai-dat-yeu-cau.html">Chia yêu cầu đặt hàng</a></li>
        <li><a href="./cai-dat-dịch-vu.html">Dịch vụ</a></li>

      </ul>
    </li>
    <li><a class=" " href="javascript:void()" aria-expanded="false">
        <i class="icon-icon09"></i>
        <span class="nav-text">Hướng dẫn sử dụng</span>
      </a>
    </li>
    
  </ul>
</div>
<script>
  if (jQuery("#menu").length > 0) {
    $("#menu").metisMenu();
  }
  jQuery(".metismenu > .mm-active ").each(function () {
    if (!jQuery(this).children("ul").length > 0) {
      jQuery(this).addClass("active-no-child");
    }
  });
  for (
    var nk = window.location,
    o = $("ul#menu a")
      .filter(function () {
        return this.href == nk;
      })
      .addClass("mm-active")
      .parent()
      .addClass("mm-active");
    ;

  ) {
    if (!o.is("li")) break;

    o = o.parent().addClass("mm-show").parent().addClass("mm-active ");
  }
  jQuery(".dz-scroll").each(function () {
    var scroolWidgetId = jQuery(this).attr("id");
    const ps = new PerfectScrollbar("#" + scroolWidgetId, {
      wheelSpeed: 2,
      wheelPropagation: true,
      minScrollbarLength: 20,
    });
    ps.isRtl = false;
  });
  if (jQuery(".deznav-scroll").length > 0) {
    //const qs = new PerfectScrollbar('.deznav-scroll');
    const qs = new PerfectScrollbar(".deznav-scroll");

    qs.isRtl = false;
  }
</script>